<app-header></app-header>
<div class="loja center">
    <app-loja></app-loja>
</div>
<div class="center titulo">
   <h1>Título da categoria:</h1>
   <input type="text">
</div>
 <app-secao>
    <div class="adicionar-remover red">
        <app-produto></app-produto>
        <button>Remover</button>
    </div>
    <div class="adicionar-remover red">
        <app-produto></app-produto>
        <button>Remover</button>
    </div>
    <div class="adicionar-remover red">
        <app-produto></app-produto>
        <button>Remover</button>
    </div>
    <div class="adicionar-remover red">
        <app-produto></app-produto>
        <button>Remover</button>
    </div>
    <div class="adicionar-remover red">
        <app-produto></app-produto>
        <button>Remover</button>
    </div>
    <div class="adicionar-remover red">
        <app-produto></app-produto>
        <button>Remover</button>
    </div>
    <div class="adicionar-remover red">
        <app-produto></app-produto>
        <button>Remover</button>
    </div>
    <div class="adicionar-remover red">
        <app-produto></app-produto>
        <button>Remover</button>
    </div>
 </app-secao>
<app-listar>
    <div class="adicionar-remover green">
        <app-produto></app-produto>
        <button>Adicionar</button>
    </div>
    <div class="adicionar-remover green">
        <app-produto></app-produto>
        <button>Adicionar</button>
    </div>
    <div class="adicionar-remover green">
        <app-produto></app-produto>
        <button>Adicionar</button>
    </div>
    <div class="adicionar-remover green">
        <app-produto></app-produto>
        <button>Adicionar</button>
    </div>
    <div class="adicionar-remover green">
        <app-produto></app-produto>
        <button>Adicionar</button>
    </div>
    <div class="adicionar-remover green">
        <app-produto></app-produto>
        <button>Adicionar</button>
    </div>
    <div class="adicionar-remover green">
        <app-produto></app-produto>
        <button>Adicionar</button>
    </div>
    <div class="adicionar-remover green">
        <app-produto></app-produto>
        <button>Adicionar</button>
    </div>
</app-listar>
<app-footer></app-footer>