<app-header></app-header>
<div class="titulo"><h1>Suas compras</h1></div>
<app-listar>
    <div class="avaliar">
        <app-produto></app-produto>
        <button>Avaliar</button>
    </div>
    <div class="avaliar">
        <app-produto></app-produto>
        <button>Avaliar</button>
    </div>
</app-listar>
<div class="avaliacao">
    <div>
        <p>De 1 a 5, qual a sua avaliação para este produto?</p>
        <input type="number" max="5">
        <button>Confirmar</button>
    </div>
</div>
<app-footer></app-footer>
