<app-header></app-header>
<div class="infos-loja center">
    <app-loja></app-loja>
</div>
<div class="botao-produtos center">
    <button>Ir para todos os produtos</button>
</div>
<div class="espacamento">
    <app-secao>
        <app-produto></app-produto>
        <app-produto></app-produto>
        <app-produto></app-produto>
    </app-secao>
</div>
<div class="espacamento">
    <app-secao>
        <app-produto></app-produto>
        <app-produto></app-produto>
        <app-produto></app-produto>
    </app-secao>
</div>
<div class="espacamento">
    <app-secao>
        <app-produto></app-produto>
        <app-produto></app-produto>
        <app-produto></app-produto>
    </app-secao>
</div>
<app-footer></app-footer>
