<app-header></app-header>
<div class="lista-container">
    <div class="titulo"><h1>Resultados para: </h1></div>
    <div class="produtos">
        <app-produto></app-produto>
        <app-produto></app-produto>
        <app-produto></app-produto>
        <app-produto></app-produto>
        <app-produto></app-produto>
        <app-produto></app-produto>
        <app-produto></app-produto>
        <app-produto></app-produto>
        <app-produto></app-produto>
        <app-produto></app-produto>
        <app-produto></app-produto>
        <app-produto></app-produto>
    </div>
    <div class="paginacao center">
        <button>Anterior</button>
        <p>página: 1</p>
        <button>Próximo</button>
    </div>
</div>
<app-footer></app-footer>