<header>
    <div class="principal">
        <div class="block">
            <div class="logo">
                <img src="../../../assets/logo_amazing.png" alt="logo">
            </div>
        </div>
        <div>
            <div class="center">
                <div class="center pesquisa">
                    <input type="text">
                    <img src="../../../assets/logo_amazing_a.png" alt="logo">
                </div>
                <div class="center carrinho">
                    <p>Olá, faça seu login</p>
                    <img src="../../../assets/carrinho-amazing.png" alt="carrinho">
                </div>
            </div>
        </div>
    </div>
    <div class="rotas center">
        <div class="center categorias">
            <img src="../../../assets/menu_amazing.png" alt="">
            <p>Categorias</p>
        </div>
        <div class="center links">
            <p>Mais vendidos</p>
            <p>Últimos adicionados</p>
            <p>Produtos Amazing</p>
            <p>Lojas</p>
        </div>
    </div>
</header>
