<header>
    <div class="principal">
        <div class="block">
            <div class="logo">
                <img src="../../../assets/logo_amazing.png" alt="logo" [routerLink]="['']">
            </div>
        </div>
        <div>
            <div class="center">
                <div class="center pesquisa">
                    <input type="text" [(ngModel)]="palavraPesquisada" (keyup.enter)="pesquisar()">
                    <img src="../../../assets/logo_amazing_a.png" alt="logo">
                </div>
                <div class="center carrinho">
                    <p [routerLink]="['loginUsuario', false]">Olá, faça seu login</p>
                    <img src="../../../assets/carrinho-amazing.png" alt="carrinho" [routerLink]="['/carrinho']">
                </div>
            </div>
        </div>
    </div>
    <div class="rotas center">
        <div class="center categorias">
            <img src="../../../assets/menu_amazing.png" alt="">
            <p>Categorias</p>
        </div>
        <div class="center links">
            <p [routerLink]="['/maisVendidos']">Mais vendidos</p>
            <p [routerLink]="['/recentes']">Últimos adicionados</p>
            <p [routerLink]="['/amazing']">Produtos Amazing</p>
            <p [routerLink]="['/lojas']">Lojas</p>
        </div>
    </div>
</header>
