<app-header></app-header>
<div class="container">
    <div class="campo">
        <div class="titulo">
            <h2>Email</h2>
        </div>
        <div class="entrada">
            <input type="text" [(ngModel)]="email">
        </div>
    </div>
    <div class="campo">
        <div class="titulo">
            <h2>Nome</h2>
        </div>
        <div class="entrada">
            <input type="text" [(ngModel)]="nome">
        </div>
    </div>
    <div class="campo">
        <div class="titulo">
            <h2>Senha</h2>
        </div>
        <div class="entrada">
            <input type="password" [(ngModel)]="senha">
        </div>
    </div>
    <div class="campo">
        <div class="titulo">
            <h2>Confirmar senha</h2>
        </div>
        <div class="entrada">
            <input type="password" [(ngModel)]="confirmarSenha" (keyup.enter)="cadastrar()">
        </div>
    </div>
    <div class="campo">
        <div>
            <button (click)="cadastrar()">Cadastrar</button>
        </div>
    </div>
    <div class="campo">
        <div>
            <a href="" [routerLink]="['/loginUsuario', false]"><h2>Login</h2></a>
        </div>
    </div>
</div>
<app-feedback></app-feedback>
<app-footer></app-footer>
