<app-header></app-header>
<div class="center">
    <div class="margem">
        <div class="produtos-amazing center">
            <div class="quadrado">
                <div class="produto-destaque center">
                    <div class="passar-produto center">
                        <img class="left" src="../../../../assets/seta_amazing.png" alt="">
                    </div>
                    <div class="center produto">
                        <div class="center texto">
                            <div>
                                <p>"Alexa, timer de 10 minutos para o macarrão."</p>
                            </div>
                        </div>
                        <div class="center imagem">
                            <img src="https://conteudo.imguol.com.br/c/noticias/5e/2020/09/24/amazon-echo-2020-1600973477197_v2_900x506.png" alt="produto">
                        </div>
                    </div>
                    <div class="passar-produto center">
                        <img src="../../../../assets/seta_amazing.png" alt="">
                    </div>
                </div> 
                <div class="produtos-evidencia center">
                    <app-produto></app-produto>
                    <app-produto></app-produto>
                    <app-produto></app-produto>
                </div>
            </div>
        </div>
        <app-secao class="secao"></app-secao>
        <div class="categorias">
            <div class="navegar center">
                <div class="center">
                    <button>Anterior</button>
                    <div class="center">
                        <img src="../../../../assets/logo_amazing_a.png" alt="logo amazing">
                    </div>
                    <button>Próximo</button>
                </div>
            </div>
            <div class="categoria">
                <div class="center titulo">
                    <h2>Computadores</h2>
                </div>
                <div class="center conteudo">
                    <img src="https://store.storeimages.cdn-apple.com/4982/as-images.apple.com/is/MK0U3?wid=940&hei=1112&fmt=png-alpha&.v=1646446502337" alt="">
                </div>
            </div>
            <div class="categoria">
                <div class="center titulo">
                    <h2>Celulares</h2>
                </div>
                <div class="center conteudo">
                    <img src="https://store.storeimages.cdn-apple.com/4982/as-images.apple.com/is/MK0U3?wid=940&hei=1112&fmt=png-alpha&.v=1646446502337" alt="">
                </div>
            </div>
            <div class="categoria">
                <div class="center titulo">
                    <h2>Livros</h2>
                </div>
                <div class="center conteudo">
                    <img src="https://store.storeimages.cdn-apple.com/4982/as-images.apple.com/is/MK0U3?wid=940&hei=1112&fmt=png-alpha&.v=1646446502337" alt="">
                </div>
            </div>
            <div class="categoria">
                <div class="center titulo">
                    <h2>Eletrodomésticos</h2>
                </div>
                <div class="center conteudo">
                    <img src="https://store.storeimages.cdn-apple.com/4982/as-images.apple.com/is/MK0U3?wid=940&hei=1112&fmt=png-alpha&.v=1646446502337" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>