.imagens{
    width: 255px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 20px;
}
.quadrado{
    width: 40px;
    height: 40px;
    background-color: grey;
}
.quadrado img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.detalhes-input{
    height: auto;
    width: 255px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.detalhes-input input{
    width: 247px;
    min-height: 50px;
    height: auto;
}
.detalhes-input button{
    width: 255px;
    height: 30px;
    margin-top: 10px;
    background-color: #5C7FFC;
    color: white;
    border: none;

}
.detalhes-input .titulo-detalhes{
    background-color: rgb(200, 198, 198);
}
.especificacoes{
    min-height: 50px;
    height: auto;
    width: 100%;
    display: flex;
    align-items: stretch;
}
.especificacoes .nome{
    width: 30%;
    min-height: 50px;
    height: auto;
    background-color: rgb(200, 199, 199);
    border: 1px solid black;
    text-align: center;
}
.especificacoes .descricao{
    width: 70%;
    min-height: 50px;
    height: auto;
    justify-content: flex-start;
    border: 1px solid black;
}
.especificacoes input{
    margin:5px;
    border:none;
    background: none;
    width: 80%;
    height:80%
}
.detalhes-container button{
    width: 100%;
    height: 30px;
    background-color: #c33939;
    color: white;
    border: none;
}
.detalhes-container{
    display: block;
    margin-top: 20px;
}
.disponivel button{
    width: 255px;
    height: 30px;
    margin-top: 10px;
    color: white;
    border: none;
}
.disponivel .green{
    background-color: #2F9C4D;
}
.disponivel .red{
    background-color: #c33939;
}
.remover:hover {
    filter: brightness(0.4);
    cursor: pointer;
}
.categorias{
    font-size: 20px;
    overflow-y:scroll;
    max-height: 300px;
}
.categorias button{
    width: 255px;
    height: 30px;
    margin-top: 10px;
    background-color: #5C7FFC;
    color: white;
    border: none;

}
.opcoes-categorias{
    position: fixed;
    top: 20%;
    left: auto;
    background-color: white;
    border: 1px solid black;
    overflow-y:scroll;
    max-height: 300px;
}
.background-black{
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 500;
    background-color: rgba(0, 0, 0, 0.5);
}
@media (max-width: 400px) {
    .especificacoes .nome{
            width: 50%;
        }
    .especificacoes .descricao{
        width: 50%;
        font-size: 13px;
    }
}