<app-header></app-header>
<div class="container">
    <div class="geral">
        <div class="titulo">
            <h1>Cadastrar produto</h1>
        </div>
        <div class="cadastro">
            <div class="campo">
                <h2>Título</h2>
                <input type="text" [(ngModel)]="titulo">
            </div>
            <div class="campo">
                <h2>Valor</h2>
                <input type="text" [(ngModel)]="valor">
            </div>
            <div class="campo">
                <h2>Quantidade</h2>
                <input type="number" [(ngModel)]="quantidade">
            </div>
            <div class="campo">
                <h2>Categoria</h2>
                <input type="text" [(ngModel)]="categoria">
            </div>
            <div class="campo disponivel">
                <h2 *ngIf="disponivel">Disponível</h2>
                <h2 *ngIf="!disponivel">Indisponível</h2>
                <button class="red" *ngIf="!disponivel" (click)="marcarDisponibilidade()">Alterar</button>
                <button class="green" *ngIf="disponivel" (click)="marcarDisponibilidade()">Alterar</button>
            </div>
            <div class="logo">
                <div class="input-logo center">
                    <label for="fileInput" class="label-customizada">
                        Imagem (máximo 6)
                    </label>
                    <input  id="fileInput" type="file" (change)="transformarLogoStringBase64($event)" hidden>
                </div>
                <div class="imagens">
                    <div class="quadrado"><img *ngIf="imagens[0]" [src]="imagens[0]"></div>
                    <div class="quadrado"><img *ngIf="imagens[1]" [src]="imagens[1]"></div>
                    <div class="quadrado"><img *ngIf="imagens[2]" [src]="imagens[2]"></div>
                    <div class="quadrado"><img *ngIf="imagens[3]" [src]="imagens[3]"></div>
                    <div class="quadrado"><img *ngIf="imagens[4]" [src]="imagens[4]"></div>
                    <div class="quadrado"><img *ngIf="imagens[5]" [src]="imagens[5]"></div>
                </div>
            </div>
            <div class="especificacoes" *ngFor="let detalhe of detalhes">
                <div class="center nome"><p>{{detalhe.titulo}}</p></div>
                <div class="center descricao"><p>{{detalhe.descricao}}</p></div>
            </div>
            <div class="detalhes-input">
                <input type="text" class="titulo-detalhes" placeholder="Título" [(ngModel)]="detalheTitulo">
                <input type="text" class="descricao-detalhes" placeholder="Descrição" [(ngModel)]="detalheDescricao">
                <button (click)="adicionarDetalhe()">Adicionar</button>
            </div>
            <div class="confirmar">
                <button (click)="cadastrar()">Confirmar</button>
            </div>
        </div>
    </div>
</div>
<app-feedback></app-feedback>
<app-footer></app-footer>