<div class="container">
    <div class="card">
        <div class="image center">
            <img src="https://ocanova.com.br/cdn/shop/products/1_26d3be7f-a731-4f3f-aba6-e3cd39675cb7.jpg?v=1679151958" alt="produto">
        </div>
        <div class="infos">
            <div class="titulo">
                <p>Echo Dot 5ª geração | O Echo Dot com o melhor som já lançado | Cor Preta</p>
            </div>
            <div class="preco center">
                <h4>R$ 399,99</h4>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="image center">
            <img src="https://ocanova.com.br/cdn/shop/products/1_26d3be7f-a731-4f3f-aba6-e3cd39675cb7.jpg?v=1679151958" alt="produto">
        </div>
        <div class="infos">
            <div class="titulo">
                <p>Echo Dot 5ª geração | O Echo Dot com o melhor som já lançado | Cor Preta</p>
            </div>
            <div class="preco center">
                <h4>R$ 399,99</h4>
            </div>
        </div>
    </div>
</div>