<div class="card">
        <div class="image center">
            <img src="https://conteudo.imguol.com.br/c/noticias/5e/2020/09/24/amazon-echo-2020-1600973477197_v2_900x506.png" alt="produto">
        </div>
        <div class="infos">
            <div class="titulo">
                <p>Echo Dot 5ª geração | O Echo Dot com o melhor som já lançado | Cor Preta</p>
            </div>
            <div class="preco center">
                <h4>R$ 399,99</h4>
            </div>
        </div>
</div>
