<div class="loja">
    <div class="logo center">
        <img [src]="loja.logo" alt="logo">
    </div>
    <div class="infos">
        <div class="nome center">
            <h3>{{loja.nome}}</h3>
        </div>
        <div class="avaliacao center">
            <img src="../../../../assets/estrela_amazing.png" alt="">
            <img src="../../../../assets/estrela_amazing.png" alt="">
            <img src="../../../../assets/estrela_amazing.png" alt="">
            <img src="../../../../assets/estrela_amazing.png" alt="">
            <img src="../../../../assets/estrela_amazing.png" alt="">
            <p>{{loja.quantidadeVendida}} vendidos</p>
        </div>
        <div class="verificada center">
            <img src="../../../../assets/amazing_security_icon.png" alt="">
            <p>Esta é uma loja verificada pela Amazing</p>
        </div>
    </div>
</div>
