<app-header></app-header>
<div class="main center">
    <div class="container" *ngIf="produto">
        <div class="center agrupa">
            <div class="principal">
                <div class="center imagens-pequenas">
                    <div class="imagens">
                        <div class="quadrado" *ngFor="let imagem of produto.imagens">
                            <img [src]="imagem" alt="produto" (click)="selecionarImagem(imagem)">
                        </div>
                    </div>
                </div>
                <div class="imagem-grande center">
                    <img src="{{imagemEscolhida}}" alt="produto">
                </div>
            </div>
            <div class="infos">
                <div class="titulo"><h1>{{produto.titulo}}</h1></div>
                <div class="entregue center"><p>Vendido e entregue por Amazing</p></div>
                <div class="avaliacao center">
                    <img src="../../../../assets/estrela_amazing.png" alt="">
                    <img src="../../../../assets/estrela_amazing.png" alt="">
                    <img src="../../../../assets/estrela_amazing.png" alt="">
                    <img src="../../../../assets/estrela_amazing.png" alt="">
                    <img src="../../../../assets/estrela_amazing.png" alt="">
                    <p>{{produto.quantidadeVendida}} vendidos</p>
                </div>
                <div class="preco center">
                    <p>R$ {{produto.valor}}</p>
                </div>
                <div class="icones">
                    <div class="icone-descricao">
                        <div class="icone center">
                            <img src="../../../../assets/amazing_security_icon.png" alt="">
                        </div>
                        <div class="descricao center">
                            <p>Pagamentos e segurança</p>
                        </div>
                    </div>
                    <div class="icone-descricao">
                        <div class="icone center">
                            <img src="../../../../assets/amazing_delivery.png" alt="">
                        </div>
                        <div class="descricao center">
                            <p>Enviado pela Amazing</p>
                        </div>
                    </div>
                    <div class="icone-descricao">
                        <div class="icone center">
                            <img src="../../../../assets/amazing_devolucao.png" alt="">
                        </div>
                        <div class="descricao center">
                            <p>Política de devolução</p>
                        </div>
                    </div>
                </div>
                <div class="quantidade">
                    <p>Quantidade:</p>
                    <input type="number" [(ngModel)]="quantidade">
                </div>
                <button class="adicionar" (click)="adicionarAoCarrinho()">Adicionar ao carrinho</button>
            </div>
        </div>
        <div class="detalhes">
            <div class="titulo">
                <h2>Especificações do produto</h2>
            </div>
            <div class="especificacoes" *ngFor="let detalhe of produto.detalhes">
                <div class="center nome"><p>{{detalhe.titulo}}</p></div>
                <div class="center descricao"><p>{{detalhe.descricao}}</p></div>
            </div>
        </div>
    </div>
</div>
<app-feedback></app-feedback>
<app-footer></app-footer>