<app-header></app-header>
<div class="titulo"><h1>Total de itens vendidos:</h1></div>
<div class="pesquisar">
    <div>
        <h3>Pesquisar pelo número da compra:</h3>
        <input type="number">
    </div>
</div>
<app-listar>
    <div class="reembolso">
        <h4>Cliente: Yuri Kevin Araujo Araujo Araujo</h4>
        <h4>CPF: 444.888.777-20</h4>
        <h4>Número: 20025000</h4>
        <app-produto></app-produto>
        <button>Cancelar/Reembolsar</button>
    </div>
    <div class="reembolso">
        <h3>Yuri Kevin Araujo</h3>
        <app-produto></app-produto>
        <button>Cancelar/Reembolsar</button>
    </div>
    <div class="reembolso">
        <h3>Yuri Kevin Araujo</h3>
        <app-produto></app-produto>
        <button>Cancelar/Reembolsar</button>
    </div>
    <div class="reembolso">
        <h3>Yuri Kevin Araujo</h3>
        <app-produto></app-produto>
        <button>Cancelar/Reembolsar</button>
    </div>
    <div class="reembolso">
        <h3>Yuri Kevin Araujo</h3>
        <app-produto></app-produto>
        <button>Cancelar/Reembolsar</button>
    </div>
    <div class="reembolso">
        <h3>Yuri Kevin Araujo</h3>
        <app-produto></app-produto>
        <button>Cancelar/Reembolsar</button>
    </div>
    <div class="reembolso">
        <h3>Yuri Kevin Araujo</h3>
        <app-produto></app-produto>
        <button>Cancelar/Reembolsar</button>
    </div>
    <div class="reembolso">
        <h3>Yuri Kevin Araujo</h3>
        <app-produto></app-produto>
        <button>Cancelar/Reembolsar</button>
    </div>
</app-listar>
<app-footer></app-footer>
