<app-header></app-header>
<div class="titulo"><h1>Total de itens vendidos:</h1></div>
<div class="pesquisar">
    <div>
        <h3>Pesquisar pelo número da compra:</h3>
        <input type="number">
    </div>
</div>
<app-listar>
    <div class="reembolso">
        <app-produto></app-produto>
        <button>Cancelar/Reembolsar</button>
    </div>
    <div class="reembolso">
        <app-produto></app-produto>
        <button>Cancelar/Reembolsar</button>
    </div>
    <div class="reembolso">
        <app-produto></app-produto>
        <button>Cancelar/Reembolsar</button>
    </div>
    <div class="reembolso">
        <app-produto></app-produto>
        <button>Cancelar/Reembolsar</button>
    </div>
    <div class="reembolso">
        <app-produto></app-produto>
        <button>Cancelar/Reembolsar</button>
    </div>
    <div class="reembolso">
        <app-produto></app-produto>
        <button>Cancelar/Reembolsar</button>
    </div>
    <div class="reembolso">
        <app-produto></app-produto>
        <button>Cancelar/Reembolsar</button>
    </div>
    <div class="reembolso">
        <app-produto></app-produto>
        <button>Cancelar/Reembolsar</button>
    </div>
</app-listar>

<app-footer></app-footer>