<app-header></app-header>
<div class="titulo"><h1>Total de itens vendidos:</h1></div>
<div class="pesquisar">
    <div>
        <h3>Pesquisar pelo número da compra:</h3>
        <input type="number" [(ngModel)]="numeroCompraInput" (keyup.enter)="pesquisar()">
    </div>
</div>
<div *ngIf="produtoPesquisado">
    <app-listar>
        <div class="reembolso">
            <h4>Cliente: {{produtoPesquisado.nomeUsuario}}</h4>
            <h4>Quantidade: {{produtoPesquisado.quantidade}}</h4>
            <h4>Número: {{produtoPesquisado.id}}</h4>
            <img [src]="produtoPesquisado.imagem" alt="">
            <button class="red" *ngIf="!produtoPesquisado.cancelado" (click)="reembolsar(produtoPesquisado)">Cancelar/Reembolsar</button>
            <button class="purple" *ngIf="produtoPesquisado.cancelado">Compra cancelada</button>
        </div>
    </app-listar>
</div>
<app-listar>
    <div class="reembolso" *ngFor="let produto of produtos">
        <h4>Cliente: {{produto.nomeUsuario}}</h4>
        <h4>Quantidade: {{produto.quantidade}}</h4>
        <h4>Número: {{produto.id}}</h4>
        <img [src]="produto.imagem" alt="">
        <button class="red" *ngIf="!produto.cancelado" (click)="reembolsar(produto)">Cancelar/Reembolsar</button>
        <button class="purple" *ngIf="produto.cancelado">Compra cancelada</button>
    </div>
</app-listar>
<div *ngIf="mostrarPaginacao" class="paginacao center">
    <button (click)="mudarPagina(false)">Anterior</button>
    <p>página: {{this.numeroPaginaUsuario}}</p>
    <button (click)="mudarPagina(true)">Próximo</button>
</div>
<app-footer></app-footer>
