<app-header></app-header>
<div class="container">
    <div class="infos">
        <div class="center nome"><h1>Seja bem vindo {{this.usuario.nome}}!</h1></div>
        <div class="center"><p>Email: {{this.usuario.email}}</p></div>
        <div class="center"><p>Créditos: R$ {{this.usuario.credito}}</p></div>
        <div class="atualizar center"><button [routerLink]="['/atualizarDados']">Atualizar dados</button></div>
    </div>
    <div class="compras">
        <div class="center nome"><h1>Suas compras</h1></div>
        <div class="produtosComprados">
            <ng-container *ngFor="let produto of produtosComprados">
                <div class="card">
                    <div class="image center" [routerLink]="['/especificacoes', produto.produtoId]">
                        <img [src]="produto.imagem" alt="produto">
                    </div>
                    <div class="infos">
                        <div class="titulo">
                            <p>{{produto.titulo.length > 50 ? produto.titulo.slice(0, 50) + '...' : produto.titulo}}</p>
                        </div>
                        <div class="preco center">
                            <h4>R$ {{produto.valor}}</h4>
                        </div>
                        <div class="quantidade center">
                            <h4>Quantidade: {{produto.quantidade}}</h4>
                        </div>
                    </div>
                    <div class="botoes">
                        <button class="green" *ngIf="!produto.avaliado" (click)="realizarAvaliacao(produto)">Avaliar</button>
                        <button class="red">Cancelar/Reembolso</button>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>
<div *ngIf="avaliacao" class="avaliacao">
    <div>
        <p>De 0 a 5, qual a sua avaliação para este produto?</p>
        <input type="number" max="5" [(ngModel)]="valorAvaliacao">
        <button (click)="avaliarProduto()">Confirmar</button>
    </div>
</div>
<app-footer></app-footer>