<app-header></app-header>
<div class="container">
    <div class="flex pesquisar">
        <h1>Pesquisar lojas:</h1>
        <div>
            <input type="text">
            <button>Buscar</button>
        </div>
    </div>
    <div class="flex">
        <app-loja></app-loja>
    </div>
    <div class="flex">
        <app-loja></app-loja>
    </div>
    <div class="flex">
        <app-loja></app-loja>
    </div>
    <div class="paginacao">
        <button>Anterior</button>
        <p>página: 1</p>
        <button>Próximo</button>
    </div>
</div>
<app-footer></app-footer>