<app-header></app-header>
<div class="titulo">
    <h1>Seu carrinho</h1>
</div>
<div class="margem">
    <app-listar>
        <div class="produto" *ngFor="let produto of produtos">
            <app-produto [produto]="produto"></app-produto>
            <p>Quantidade: {{produto.quantidade}}</p>
            <button (click)="removerProdutoCarrinho(produto)">Remover</button>
        </div>
    </app-listar>
    <div class="pagamento">
        <div>
            <button class="green" (click)="realizarCompra()">Pagar com créditos amazing</button>
        </div>
        <div>
            <button class="purple" [routerLink]="['/creditos']">Recarregar créditos amazing</button>
        </div>
    </div>
</div>
<div class="compra" *ngIf="compraRealizada">
    <div class="quadrado">
        <h1>Obrigado por comprar com a Amazing!</h1>
        <div >
            <img src="../../../../assets/logo_amazing_a.png" alt="">
        </div>
        <button [routerLink]="['/perfilUsuario']">Ir para compras</button>
    </div>
</div>
<app-footer></app-footer>
