<app-header></app-header>
<div class="container">
    <div class="campo">
        <div class="titulo">
            <h2>Senha antiga</h2>
        </div>
        <div class="entrada">
            <input type="text" [(ngModel)]="senhaAntiga">
        </div>
    </div>
    <div class="campo">
        <div class="titulo">
            <h2>Nova senha</h2>
        </div>
        <div class="entrada">
            <input type="text" [(ngModel)]="senha">
        </div>
    </div>
    <div class="campo">
        <div class="titulo">
            <h2>Confirmar senha</h2>
        </div>
        <div class="entrada">
            <input type="text" [(ngModel)]="confirmarSenha" (keyup.enter)="atualizarSenha()">
        </div>
    </div>
    <div class="campo">
        <div>
            <button (click)="atualizarSenha()">Atualizar</button>
        </div>
    </div>
</div>
<app-feedback></app-feedback>
<app-footer></app-footer>
