<app-header></app-header>
<div class="container">
    <div class="campo">
        <div class="titulo">
            <h2>Senha antiga</h2>
        </div>
        <div class="entrada">
            <input type="text">
        </div>
    </div>
    <div class="campo">
        <div class="titulo">
            <h2>Nova senha</h2>
        </div>
        <div class="entrada">
            <input type="text">
        </div>
    </div>
    <div class="campo">
        <div class="titulo">
            <h2>Confirmar senha</h2>
        </div>
        <div class="entrada">
            <input type="text">
        </div>
    </div>
    <div class="campo">
        <div>
            <button>Atualizar</button>
        </div>
    </div>
</div>
<app-footer></app-footer>
