.infos{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.atualizar{
    width: 100%;
    margin-bottom: 20px;
    height: auto;
}
.atualizar button{
    height: 40px;
    width: 220px;
    color: white;
    border: none;
    background-color: #2F9C4D;
}
.menu{
    display: block;
    width: 100%;
}
.menu div{
    width: 100%;
}
.menu button{
    margin-bottom: 20px;
    height: 40px;
    width: 220px;
    color: white;
    border: none;
    background-color: #171592;
}
.categorias{
    display: block;
}
.categoria{
    width: 100%;
}
.remover-btn{
    width: 100%;
}
.remover-btn button{
    margin-bottom: 20px;
    height: 40px;
    width: 220px;
    color: white;
    border: none;
    background-color: #171592;
}