<app-header></app-header>
<div class="center infos" *ngIf="loja">
    <app-loja [loja]="loja"></app-loja>
</div>
<div class="center atualizar">
    <button [routerLink]="['/atualizarLoja']">Atualizar dados</button>
</div>
<div class="center atualizar">
    <button  [routerLink]="['/atualizarSenhaLoja']">Atualizar senha</button>
</div>
<div class="menu">
    <div class="center">
        <button [routerLink]="['/produtosLoja', this.loja.id, 0]">Ir para produtos</button>
    </div>  
    <div class="center">
        <button [routerLink]="['/vendas', 0]">Ir para vendas</button>
    </div>
    <div class="center">
        <button [routerLink]="['/adicionarCategoria']">Adicionar categoria</button>
    </div>
    <div class="center">
        <button [routerLink]="['/cadastrarProduto']">Adicionar produto</button>
    </div>
</div>
<app-secao *ngIf="maisVendidos" [titulo]="'Mais vendidos'" [produtos]="maisVendidos"></app-secao>
<div class="categorias" *ngFor="let categoria of categorias">
    <div class="categoria">
        <app-secao class="secao" [titulo]="categoria.titulo" [produtos]="categoria.produtos">
        </app-secao>
    </div>
    <div class="center remover-btn">
        <button (click)="removerCategoria(categoria)">Remover categoria</button>
    </div>
</div>
<app-feedback></app-feedback>
<app-footer></app-footer>