<footer>
    <div class="voltar-inicio center">
        <h5>Voltar ao início</h5>
    </div>
    <div class="infos center">
        <div class="container">
            <div class="center titulo">
                <h4>Conheça nos</h4>
            </div>
            <div class="center conteudo">
                <ul>
                    <li>Sobre a amazing</li>
                    <li>Informações corporativas</li>
                    <li>Comunidade</li>
                    <li>Acessibilidade</li>
                    <li>Amazing Science</li>
                </ul>
            </div>
        </div>
        <div class="container">
            <div class="center titulo">
                <h4>Pagamento</h4>
            </div>
            <div class="center conteudo">
                <ul>
                    <li>Meios de pagamento</li>
                    <li>Compre com pontos</li>
                    <li>Cartão de crédito</li>
                </ul>
            </div>
        </div>
        <div class="container">
            <div class="center titulo">
                <h4>Ajuda</h4>
            </div>
            <div class="center conteudo">
                <ul>
                    <li>Frete e prazo de entrega</li>
                    <li>Sua Conta</li>
                    <li>Devoluções e reembolsos</li>
                    <li>Gerencie seus dispositivos</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="background-roxo">
        <div class="logo center">
            <img src="../../../assets/logo_amazing.png" alt="logo">
        </div>
        <div class="infos2 center">
            <p>Austrália | Alemanha | Brasil | Canadá | China | Cingapura | Espanha | Estados Unidos | França | Holanda | Índia | Itália | Japão | México | Polônia | Reino Unido | Turquia</p>
        </div>
        <div class="infos2 center">
            <p>Condições de uso | Notificação de privacidade | Cookies | Anúncios baseados em interesses</p>
            <p>© 2024 Amazing.com, Inc, ou suas afiliadas</p>
        </div>
    </div>
</footer>
