<div class="secao">
        <div class="titulo">
            <h2>Mais vendidos</h2>
        </div>
        <div class="conteudo center">
            <div class="passar-produto center left">
                <img src="../../../assets/seta_amazing.png" alt="passar produto">
            </div>
            <div class="produtos">
                
            </div>
            <div class="passar-produto center">
                <img src="../../../assets/seta_amazing.png" alt="passar produto">
            </div>
        </div>
</div>