.secao{
    width: 100%;
    min-height: 300px;
    height: auto;
    background-image: linear-gradient(to bottom, #1a18a7 1%, white);
    font-family: Arial, Helvetica, sans-serif;
}
.center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.titulo{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.titulo h2{
    margin-left: 5%;
    color: white;
}
.conteudo{
    width: 100%;
    min-height: 240px;
    height: auto;
}
.produtos{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: auto;
}
.secao .passar-produto{
    height: 100%;
    width: 20%;
}
.secao .passar-produto img{
    height: 50px;
}
.secao .left{
    rotate: 180deg;
}
@media (max-width: 775px) {
    .produtos{
        justify-content: space-around;
    }
}